<!DOCTYPE html>
<html lang="vn">
<head>
<meta charset="UTF-8">
<title>Tín Thành Phát Express - Cargo - Logistics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="author" content="Từ Đăng Khoa">
<meta name="keyword" content="">
<meta name="description" content="" />
<link href="images/common/favicon.jpg" rel="icon" type="image/jpg">
<link href="css/import.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <header>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href=""><i class="fa fa-apple"></i></a></li>
            <li><a href=""><i class="fa fa-android"></i></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Trang chủ</a></li>
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Dịch vụ</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Hỗ trợ</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="logo col-sm-3">
        <img src="images/common/logo.jpg" />
      </div>
      <div class="col-sm-9">
        <div class="col-sm-12">
          <div class="hotline phone">
            <div class="info"><span>HOTLINE</span> 090.234.0163</div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="main-wrapper">

    <div class="main-slider-wrapper">

      <div class="hidden-lg hidden-md col-sm-12 col-xs-12"> abcdef </div>

      <div class="container">
        <div class="sidebar-menu-wrapper col-sm-3">
          <div class="sidebar-menu">
            <ul>
              <li class="search-wrapper">
                <div class="sidebar-search">
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="" placeholder="Tra cứu hành trình...">
                    </div>
                  </form>
                </div>
              </li>
              <li><a href=""><i class="fa fa-usd"></i> Ước tính chi phí</a></li>
              <li><a href=""><i class="fa fa-dropbox"></i> Gửi hàng online</a></li>
              <li><a href=""><i class="fa fa-info-circle"></i> Hệ thống bảng giá</a></li>
              <li><a href=""><i class="fa fa-hand-o-right"></i> Tìm điểm gửi hàng</a></li>
              <li><a href=""><i class="fa fa-user-plus"></i> Hỗ trợ khác</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="main-slider" class="owl-carousel">
        <div><a href=""><img src="images/top/main-slider/1.jpg" alt="Owl Image"></a></div>
        <div><a href=""><img src="images/top/main-slider/2.jpg" alt="Owl Image"></a></div>
        <div><a href=""><img src="images/top/main-slider/3.jpg" alt="Owl Image"></a></div>
      </div>

    </div>

    <div class="container">

      <div class="col-sm-3 sidebar-first">

        <div class="member-login">
          <form>
            <h5>ĐĂNG NHẬP TÀI KHOẢN</h5>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default btn-success">Đăng nhập</button>
            <div class="form-group">
              <br/>
              <a href="">Tạo tài khoản</a> | <a href="">Quên mật khẩu</a>
            </div>
          </form>
        </div>

        <div class="member-info">
          <h5>KHÁCH HÀNG MỚI CẦN BIẾT</h5>
          <a href=""><img alt="" src="images/common/sidebar/member-3.jpg" /></a>
        </div>

      </div>

      <div class="col-sm-6 main-content">

        <div class="top-services">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#dhl" aria-controls="home" role="tab" data-toggle="tab">Dịch vụ DHL</a></li>
            <li role="presentation"><a href="#gpcn" aria-controls="profile" role="tab" data-toggle="tab">Giải pháp ngành công nghiệp</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content clearfix">
            <div role="tabpanel" class="tab-pane active" id="dhl">
              <div class="col-sm-4 service">
                <img src="images/top/services/1.jpg" />
                <h5>Dịch vụ chuyển phát nhanh</h5>
              </div>
              <div class="col-sm-4 service">
                <img src="images/top/services/2.jpg" />
                <h5>Dịch vụ vận tải<br/><br/></h5>
              </div>
              <div class="col-sm-4 service">
                <img src="images/top/services/3.jpg" />
                <h5>Dịch vụ giao hàng thu tiền</h5>
              </div>
              <div class="col-sm-12 service-info">
                <h5>Excellent. Simply Delivered</h5>
                <p>Các dịch vụ mà DHL cung cấp - chuyển phát nhanh quốc tế; giao nhận vận tải toàn cầu bằng đường hàng không, đường biển, đường bộ và đường sắt; giải pháp kho vận từ bao bì, sửa chữa, lưu trữ; chuyển phát thư tín trên toàn thế giới, cùng các dịch vụ logistics tùy chỉnh khác -giúp kết nối mọi người và giúp họ nâng cao cuộc sống.</p>
                <a href=""><i class="fa fa-plus"></i> Xem tiếp</a>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="gpcn">
              <div class="col-sm-4 service">
                <img src="images/top/services/4.jpg" />
                <h5>Dịch vụ chuyển phát nhanh</h5>
              </div>
              <div class="col-sm-4 service">
                <img src="images/top/services/4.jpg" />
                <h5>Dịch vụ vận tải<br/><br/></h5>
              </div>
              <div class="col-sm-4 service">
                <img src="images/top/services/4.jpg" />
                <h5>Dịch vụ giao hàng thu tiền</h5>
              </div>
              <div class="col-sm-12 service-info">
                <h5>Excellent. Simply Delivered</h5>
                <p>Các dịch vụ mà DHL cung cấp - chuyển phát nhanh quốc tế; giao nhận vận tải toàn cầu bằng đường hàng không, đường biển, đường bộ và đường sắt; giải pháp kho vận từ bao bì, sửa chữa, lưu trữ; chuyển phát thư tín trên toàn thế giới, cùng các dịch vụ logistics tùy chỉnh khác -giúp kết nối mọi người và giúp họ nâng cao cuộc sống.</p>
                <a href=""><i class="fa fa-plus"></i> Xem tiếp</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-3 sidebar-second">
        <div class="top-news">
          <div class="col-sm-12 news">
            <h5><i class="fa fa-info"></i> TIN TỨC</h5>
            <div class="item clearfix">
              <a href="">Tổng bí thư bất ngờ vì được bầu</a>
            </div>
            <div class="item clearfix">
              <a href="">Danh sách 19 Ủy viên Bộ Chính trị khóa XII</a>
            </div>
            <div class="item clearfix">
              <a href="">Hôm nay VFF quyết định tương lai HLV Miura</a>
            </div>
          </div>
          <div class="col-sm-12 annoucements">
            <h5><i class="fa fa-volume-down"></i> THÔNG BÁO MỚI</h5>
            <div class="item clearfix">
              <a href="">Thúy Nga từng muốn bỏ nghề vì sự cố hôn nhân</a>
            </div>
            <div class="item clearfix">
              <a href="">Từ 280 triệu, sau 12 năm tôi đã có 4 căn hộ ở TP HCM</a>
            </div>
            <div class="item clearfix">
              <a href="">Hacker 'cuỗm' 55 triệu USD từ nhà cung ứng của Boeing</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <div class="partners">
      <div class="container">
        <div id="partners-slider">
          <div class="item"><img src="images/common/partners/1.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/2.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/3.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/4.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/5.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/6.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/7.jpg" alt="Owl Image"></div>
          <div class="item"><img src="images/common/partners/8.jpg" alt="Owl Image"></div>
        </div>
      </div>
    </div>
    <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 greetings">
            <h4>CÔNG TY CỔ PHẦN CHUYỂN PHÁT NHANH TÍN THÀNH PHÁT</h4>
            <p><i class="fa fa-home"></i> 2 Thăng Long, 4, Tân Bình, Hồ Chí Minh, Việt Nam</p>
            <p><i class="fa fa-phone"></i> 0902 34 01 63</p>
            <p><i class="fa fa-envelope"></i> info@tinthanhphat.com | <i class="fa fa-internet-explorer"></i> www.tinthanhphat.com</p>
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="col-md-6 col-sm-12">
              <p>
                <strong>VPĐD tại Sóc Trăng</strong> 0985 86 65 68 (Hotline)<br/>
                Trường THPT Chuyên Nguyễn Thị Minh Khai, Hồ Nước Ngọt, P.2, TP. Sóc Trăng, Tỉnh Sóc Trăng
              </p>

              <p>
                <strong>VPĐD tại Khánh Hòa</strong> 0909 97 77 93 (Hotline)<br/>
                46A Hoàng Văn Thụ, Thị trấn Vạn Giã, Vạn Ninh, Khánh Hòa
              </p>

              <p>
                <strong>VPĐD tại Thái Bình</strong> 094 98 66 555 (Hotline)<br/>
                Số L6/6, Khu Đô Thị 5, Đường Trần Hưng Đạo, TP.Thái Bình
              </p>

              <p>
                <strong>VPĐD tại Nhật Bản</strong><br/>
                101 La Siesta, Kurakake 1161, Tsukuba, Ibaraki, 305-0024, Nhật Bản
              </p>

              <p>
                © 2015 Tin Thanh Phat. All rights reserved. Designed by <a href="http://cloudjay.com">Sayhicms.com</a>
            </div>
            <div class="col-md-6 col-sm-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.438259784732!2d106.68444199999999!3d10.777707000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f25a2b08f83%3A0xcde4d4164374fd6b!2zMzUgTmd1eeG7hW4gVGjDtG5nLCBwaMaw4budbmcgNywgUXXhuq1uIDMsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1434513393814" width="100%" height="100%" frameborder="0" style="border:0;min-height:300px"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Import the JS & Plugins -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="plugins/bootstrap-3.3.6-dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="plugins/owl-carousel/owl.carousel.js"></script>
  <script src="js/common.js"></script>
</body>
</html>