<!DOCTYPE html>
<html lang="vn">
<head>
<meta charset="UTF-8">
<title>Moncheries - List Product - Medium denim dungarees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="author" content="Từ Đăng Khoa">
<meta name="keyword" content="">
<meta name="description" content="" />
<link href="images/common/favicon.ico" rel="icon" type="image/x-icon">
<link href="css/import.css" rel="stylesheet" type="text/css" />
<link href="css/import_details_product.css" rel="stylesheet" type="text/css" />
</head>
<body id="details-product" class="toggled">

  <header class="clearfix">

    <div class="nav-main hidden-xs">
      <div class="container">
        <div class="logo col-sm-3">
          <a href=""><img src="images/common/mango@2x.png" /></a>
        </div>
        <div class="menu col-sm-5">
          <ul>
            <li><a href="">Woman</a>
              <div class="menu-content">
                <div class="container">

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">New now</a></li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Essential Prices</a><sup class="superindex">New!</sup></li>
                      </ul>
                      <ul>
                        <li><a href="">Trendy dresses</li>
                        <li><a href="">Tribal spirit</li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Best sellers</a></li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Premium</a></li>
                        <li class="title"><a href="">Wedding & Parties</a></li>
                        <li class="title"><a href="">Office wear</a></li>
                        <li class="title"><a href="">Leather</a></li>
                      </ul>
                      <ul>
                        <li class="title promotion"><a href="">Promotion</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">Clothing</a></li>
                        <li><a href="">Clothing 1</a></li>
                        <li><a href="">Clothing 2</a></li>
                        <li><a href="">Clothing 3</a></li>
                        <li><a href="">Clothing 4</a></li>
                        <li><a href="">Clothing 5</a></li>
                        <li><a href="">Clothing 6</a></li>
                        <li><a href="">Clothing 7</a></li>
                        <li><a href="">Clothing 8</a></li>
                        <li><a href="">Clothing 9</a></li>
                        <li><a href="">Clothing 10</a></li>
                        <li><a href="">Clothing 11</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">Accessories</a></li>
                        <li><a href="">Accessories 1</a></li>
                        <li><a href="">Accessories 2</a></li>
                        <li><a href="">Accessories 3</a></li>
                        <li><a href="">Accessories 4</a></li>
                        <li><a href="">Accessories 5</a></li>
                        <li><a href="">Accessories 6</a></li>
                        <li><a href="">Accessories 7</a></li>
                        <li><a href="">Accessories 8</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">Edits</a></li>
                        <li class="title"><a href="">Wedding & Parties</a><sup class="superindex">New!</sup></li>
                        <li class="title"><a href="">Office wear</a></li>
                        <li class="title"><a href="">Leather</a></li>
                      </ul>
                    </div>

                    <div class="col-md-3 hidden-sm hidden-xs">
                      <img src="images/common/menu/woman.jpg" class="img-responsive"/>
                    </div>

                </div>
              </div>
            </li>
            <li><a href="">Man</a>
              <div class="menu-content">
                <div class="container">

                    <div class="col-md-2 col-sm-3 col-xs-12">
                      <ul>
                        <li class="title"><a href="">New now</a></li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Essential Prices</a><sup class="superindex">New!</sup></li>
                      </ul>
                      <ul>
                        <li><a href="">Trendy dresses</li>
                        <li><a href="">Tribal spirit</li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Best sellers</a></li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Premium</a></li>
                        <li class="title"><a href="">Wedding & Parties</a></li>
                        <li class="title"><a href="">Office wear</a></li>
                        <li class="title"><a href="">Leather</a></li>
                      </ul>
                      <ul>
                        <li class="title promotion"><a href="">Promotion</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                      <ul>
                        <li class="title"><a href="">Clothing</a></li>
                        <li><a href="">Clothing 1</a></li>
                        <li><a href="">Clothing 2</a></li>
                        <li><a href="">Clothing 3</a></li>
                        <li><a href="">Clothing 4</a></li>
                        <li><a href="">Clothing 5</a></li>
                        <li><a href="">Clothing 6</a></li>
                        <li><a href="">Clothing 7</a></li>
                        <li><a href="">Clothing 8</a></li>
                        <li><a href="">Clothing 9</a></li>
                        <li><a href="">Clothing 10</a></li>
                        <li><a href="">Clothing 11</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                      <ul>
                        <li class="title"><a href="">Accessories</a></li>
                        <li><a href="">Accessories 1</a></li>
                        <li><a href="">Accessories 2</a></li>
                        <li><a href="">Accessories 3</a></li>
                        <li><a href="">Accessories 4</a></li>
                        <li><a href="">Accessories 5</a></li>
                        <li><a href="">Accessories 6</a></li>
                        <li><a href="">Accessories 7</a></li>
                        <li><a href="">Accessories 8</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-12">
                      <ul>
                        <li class="title"><a href="">Edits</a></li>
                        <li class="title"><a href="">Wedding & Parties</a><sup class="superindex">New!</sup></li>
                        <li class="title"><a href="">Office wear</a></li>
                        <li class="title"><a href="">Leather</a></li>
                      </ul>
                    </div>

                    <div class="col-md-3 hidden-sm hidden-xs">
                      <img src="images/common/menu/man.jpg" class="img-responsive"/>
                    </div>

                </div>
              </div>
            </li>
            <li><a href="">Kids</a>
              <div class="menu-content">
                <div class="container">

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">New now</a></li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Essential Prices</a><sup class="superindex">New!</sup></li>
                      </ul>
                      <ul>
                        <li><a href="">Trendy dresses</li>
                        <li><a href="">Tribal spirit</li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Best sellers</a></li>
                      </ul>
                      <ul>
                        <li class="title"><a href="">Premium</a></li>
                        <li class="title"><a href="">Wedding & Parties</a></li>
                        <li class="title"><a href="">Office wear</a></li>
                        <li class="title"><a href="">Leather</a></li>
                      </ul>
                      <ul>
                        <li class="title promotion"><a href="">Promotion</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">Clothing</a></li>
                        <li><a href="">Clothing 1</a></li>
                        <li><a href="">Clothing 2</a></li>
                        <li><a href="">Clothing 3</a></li>
                        <li><a href="">Clothing 4</a></li>
                        <li><a href="">Clothing 5</a></li>
                        <li><a href="">Clothing 6</a></li>
                        <li><a href="">Clothing 7</a></li>
                        <li><a href="">Clothing 8</a></li>
                        <li><a href="">Clothing 9</a></li>
                        <li><a href="">Clothing 10</a></li>
                        <li><a href="">Clothing 11</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">Accessories</a></li>
                        <li><a href="">Accessories 1</a></li>
                        <li><a href="">Accessories 2</a></li>
                        <li><a href="">Accessories 3</a></li>
                        <li><a href="">Accessories 4</a></li>
                        <li><a href="">Accessories 5</a></li>
                        <li><a href="">Accessories 6</a></li>
                        <li><a href="">Accessories 7</a></li>
                        <li><a href="">Accessories 8</a></li>
                      </ul>
                    </div>

                    <div class="col-md-2 col-sm-3">
                      <ul>
                        <li class="title"><a href="">Edits</a></li>
                        <li class="title"><a href="">Wedding & Parties</a><sup class="superindex">New!</sup></li>
                        <li class="title"><a href="">Office wear</a></li>
                        <li class="title"><a href="">Leather</a></li>
                      </ul>
                    </div>

                    <div class="col-md-3 hidden-sm hidden-xs">
                      <img src="images/common/menu/kid.jpg" class="img-responsive"/>
                    </div>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tools col-sm-4">
          <ul>
            <li class="search-wrapper"><a href=""><i class="fa fa-search"></i><span class="hidden-sm"> Search</span></a></li>
            <li><a href=""><i class="fa fa-user hidden-lg hidden-md"></i><span class="hidden-sm"> Sign in</span></a>
              <ul>
                <li><a href="">Sign in</a></li>
                <li><a href="">Register</a></li>
                <li><a href="">Order</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </li>
            <li class="search-wrapper"><a href=""><img src="images/common/flag/vn.png" height="15px"/></li>
            <li class="search-wrapper"><a href=""><img src="images/common/flag/en.png" height="15px"/></a></li>
            <li class="search-wrapper"><a href=""><img src="images/common/flag/ja.png" height="15px"/></a></li>
          </ul>
        </div>
      </div>


    </div>

    <div class="nav-main-mobile hide visible-xs">
      <div class="col-xs-3"><i class="fa fa-align-justify" id="menu-toggle"></i></div>
      <div class="logo col-xs-6"><a href="">Medium denim dungarees</a></div>
      <div class="cart-info col-xs-3"></div>
    </div>

    <div id="sidebar-wrapper">
      <div id="accordion" class="menu">

        <ul>
          <li>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              WOMAN
            </a>
            <ul id="collapseOne" class="panel-collapse collapse in">
              <li><a href="">HOMEPAGE</a></li>
              <li><a href="">PROMOTION</a></li>
              <li><a href="">NEW NOW</a></li>
              <li><a href="">Essential prices</a></li>
              <li>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneOne" aria-expanded="true" aria-controls="collapseOneOne">
                  CLOTHING
                </a>
                <ul id="collapseOneOne" class="panel-collapse collapse in">
                  <li><a href="">Dresses</a></li>
                  <li><a href="">Jumpsuits</a></li>
                </ul>
              </li>
              <li><a href="">BEST SELLERS</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              MAN
            </a>
            <ul id="collapseTwo" class="panel-collapse collapse">
              <li><a href="">HOMEPAGE</a></li>
              <li><a href="">PROMOTION</a></li>
              <li><a href="">NEW NOW</a></li>
              <li><a href="">Essential prices</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              KIDS
            </a>
            <ul id="collapseThree" class="panel-collapse collapse">
              <li><a href="">HOMEPAGE</a></li>
              <li><a href="">PROMOTION</a></li>
              <li><a href="">NEW NOW</a></li>
              <li><a href="">Essential prices</a></li>
            </ul>
          </li>
        </ul>

        <ul class="tool">
          <li><a href=""><i class="fa fa-map-marker"></i> Shops</a></li>
          <li><a href=""><i class="fa fa-user"></i> Register</a></li>
          <li><a href=""><i class="fa fa-user"></i> Sign in</a></li>
          <li><a href=""><i class="fa fa-cube"></i> Orders</a></li>
          <li><a href=""><i class="fa fa-info-circle"></i> Helps</a></li>
          <li><a href=""><i class="fa fa-language"></i> Vietnam</a></li>
        </ul>

      </div>

  </header>

  <div class="main-wrapper">

    <div class="container">

      <div class="breadcrumbs clearfix">

        <div class="paths hidden-xs pull-left">
          <a href="">Clothing</a>
          <span class="separator"> &gt; </span>
          <a href="">Jumpsuits</a>
          <span class="separator"> &gt; </span>
          Medium denim dungarees
        </div>

        <div class="product-pagination pull-right">
          <a href="" class="prev">Previous</a>
          <span class="hidden-xs">2 / 110</span>
          <a href="" class="next">Next</a>
        </div>

      </div>

      <div class="row clearfix">
        <div class="col-sm-2 hidden-xs">

          <div class="list-images-wrapper">
            <i class="fa fa-angle-up" id="list-images-up"></i>
            <div class="list-images" id="list-images">
              <img src="images/products/4/1.jpg" main-image="images/products/4/1L.jpg"/>
              <img src="images/products/4/2.jpg" main-image="images/products/4/2L.jpg"/>
              <img src="images/products/4/3.jpg" main-image="images/products/4/3L.jpg"/>
              <img src="images/products/4/4.jpg" main-image="images/products/4/4L.jpg"/>
              <img src="images/products/4/5.jpg" main-image="images/products/4/5L.jpg"/>
              <img src="images/products/4/6.jpg" main-image="images/products/4/6L.jpg"/>
            </div>
            <i class="fa fa-angle-down" id="list-images-down"></i>
          </div>

        </div>

        <div class="col-sm-5">
          <img src="images/products/4/1L.jpg" id="main-image" />
        </div>

        <div class="col-sm-5">
          <div class="info">
            <h4 class="name">Medium denim dungarees<small class="sku">REF. 63085581 - JAPAN6</small></h4>
            <div class="price">đ 1,499,000</div>
            <div class="status">- New Now -</div>
            <div class="social">
              <ul>
                <li><a href=""><i class="fa fa-envelope"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
                <li><a href=""><i class="fa fa-tumblr"></i></a></li>
              </ul>
            </div>
            <div class="panel-group" id="product-info-details" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#product-info-details" href="#product-description" aria-expanded="true" aria-controls="product-description">
                      Description
                    </a>
                  </h4>
                </div>
                <div id="product-description" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>Denim, medium faded wash, thin adjustable straps, two side pockets, side button fastening, patch pockets on the back, inner pocket.</p>
                    <p>
                      <ul>
                        <li>Inside leg measurement 64.0 cm</li>
                        <li>Side length 83.0 cm</li>
                      </ul>
                      These measures have been calculated for a S size.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#product-info-details" href="#product-instruction" aria-expanded="false" aria-controls="product-instruction">
                      Material and washing instructions
                    </a>
                  </h4>
                </div>
                <div id="product-instruction" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>
                      Composition: 100% cotton,<br/>
                      <img src="images/common/icon/wash_1@2x.png" width="30" height="30" />
                      <img src="images/common/icon/wash_12@2x.png" width="30" height="30" />
                      <img src="images/common/icon/wash_15@2x.png" width="30" height="30" />
                      <ul>
                        <li>MACHINE WASHING MAX 30°C / 85ºF</li>
                        <li>DO NOT BLEACH</li>
                        <li>IRONING MAX 110°C / 230ºF</li>
                        <li>DO NOT DRY CLEAN</li>
                        <li>DO NOT TUMBLE DRY</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <footer>
    <div class="container-fluid">
      <div class="newsletter-wrapper">
        <h5>Be the first to know</h5>
        <form class="form-inline newsletter-form">
          <div class="form-group">
            <input type="email" class="form-control" id="" placeholder="Enter your e-mail">
          </div>
          <button type="submit" class="btn btn-default">Send</button>
        </form>
      </div>
      <div class="nav-footer clearfix hide visible-xs">
        <ul>
          <li><a href="">Help</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Register</a></li>
          <li><a href="">Shops</a></li>
          <li><a href="">Company</a></li>
        </ul>
      </div>
      <div class="nav-social clearfix">
        <ul>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="copyright clearfix">&copy; 2016 Moncheries All rights reserved <a href="">Privacy Policy</a></div>
    </div>
  </footer>

  <!-- Import the JS & Plugins -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="plugins/bootstrap-3.3.6-dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="plugins/owl-carousel/owl.carousel.js"></script>
  <script src="js/common.js"></script>
  <script src="js/details_product.js"></script>
</body>
</html>