<!DOCTYPE html>
<html lang="vn">
<head>
<meta charset="UTF-8">
<title>Moncheries - List Product</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="author" content="Từ Đăng Khoa">
<meta name="keyword" content="">
<meta name="description" content="" />
<link href="images/common/favicon.ico" rel="icon" type="image/x-icon">
<link href="css/import.css" rel="stylesheet" type="text/css" />
<link href="css/import_list_product.css" rel="stylesheet" type="text/css" />
</head>
<body id="list-product">

  <div id="wrapper" class="toogled">

    <div id="sidebar-wrapper">
      <div id="accordion" class="menu">

        <ul>
          <li>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              WOMAN
            </a>
            <ul id="collapseOne" class="panel-collapse collapse in">
              <li><a href="">HOMEPAGE</a></li>
              <li><a href="">PROMOTION</a></li>
              <li><a href="">NEW NOW</a></li>
              <li><a href="">Essential prices</a></li>
              <li>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneOne" aria-expanded="true" aria-controls="collapseOneOne">
                  CLOTHING
                </a>
                <ul id="collapseOneOne" class="panel-collapse collapse in">
                  <li><a href="">Dresses</a></li>
                  <li><a href="">Jumpsuits</a></li>
                </ul>
              </li>
              <li><a href="">BEST SELLERS</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              MAN
            </a>
            <ul id="collapseTwo" class="panel-collapse collapse">
              <li><a href="">HOMEPAGE</a></li>
              <li><a href="">PROMOTION</a></li>
              <li><a href="">NEW NOW</a></li>
              <li><a href="">Essential prices</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              KIDS
            </a>
            <ul id="collapseThree" class="panel-collapse collapse">
              <li><a href="">HOMEPAGE</a></li>
              <li><a href="">PROMOTION</a></li>
              <li><a href="">NEW NOW</a></li>
              <li><a href="">Essential prices</a></li>
            </ul>
          </li>
        </ul>

        <ul class="tool">
          <li><a href=""><i class="fa fa-map-marker"></i> Shops</a></li>
          <li><a href=""><i class="fa fa-user"></i> Register</a></li>
          <li><a href=""><i class="fa fa-user"></i> Sign in</a></li>
          <li><a href=""><i class="fa fa-cube"></i> Orders</a></li>
          <li><a href=""><i class="fa fa-info-circle"></i> Helps</a></li>
          <li><a href=""><i class="fa fa-language"></i> Vietnam</a></li>
        </ul>

      </div>
    </div>

    <div id="page-content-wrapper">

      <header class="clearfix">

        <div class="nav-main hidden-xs">
          <div class="container">
            <div class="logo col-sm-3">
              <a href=""><img src="images/common/mango@2x.png" /></a>
            </div>
            <div class="menu col-sm-5">
              <ul>
                <li><a href="">Woman</a>
                  <div class="menu-content">
                    <div class="container">

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">New now</a></li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Essential Prices</a><sup class="superindex">New!</sup></li>
                          </ul>
                          <ul>
                            <li><a href="">Trendy dresses</li>
                            <li><a href="">Tribal spirit</li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Best sellers</a></li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Premium</a></li>
                            <li class="title"><a href="">Wedding & Parties</a></li>
                            <li class="title"><a href="">Office wear</a></li>
                            <li class="title"><a href="">Leather</a></li>
                          </ul>
                          <ul>
                            <li class="title promotion"><a href="">Promotion</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">Clothing</a></li>
                            <li><a href="">Clothing 1</a></li>
                            <li><a href="">Clothing 2</a></li>
                            <li><a href="">Clothing 3</a></li>
                            <li><a href="">Clothing 4</a></li>
                            <li><a href="">Clothing 5</a></li>
                            <li><a href="">Clothing 6</a></li>
                            <li><a href="">Clothing 7</a></li>
                            <li><a href="">Clothing 8</a></li>
                            <li><a href="">Clothing 9</a></li>
                            <li><a href="">Clothing 10</a></li>
                            <li><a href="">Clothing 11</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">Accessories</a></li>
                            <li><a href="">Accessories 1</a></li>
                            <li><a href="">Accessories 2</a></li>
                            <li><a href="">Accessories 3</a></li>
                            <li><a href="">Accessories 4</a></li>
                            <li><a href="">Accessories 5</a></li>
                            <li><a href="">Accessories 6</a></li>
                            <li><a href="">Accessories 7</a></li>
                            <li><a href="">Accessories 8</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">Edits</a></li>
                            <li class="title"><a href="">Wedding & Parties</a><sup class="superindex">New!</sup></li>
                            <li class="title"><a href="">Office wear</a></li>
                            <li class="title"><a href="">Leather</a></li>
                          </ul>
                        </div>

                        <div class="col-md-3 hidden-sm hidden-xs">
                          <img src="images/common/menu/woman.jpg" class="img-responsive"/>
                        </div>

                    </div>
                  </div>
                </li>
                <li><a href="">Man</a>
                  <div class="menu-content">
                    <div class="container">

                        <div class="col-md-2 col-sm-3 col-xs-12">
                          <ul>
                            <li class="title"><a href="">New now</a></li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Essential Prices</a><sup class="superindex">New!</sup></li>
                          </ul>
                          <ul>
                            <li><a href="">Trendy dresses</li>
                            <li><a href="">Tribal spirit</li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Best sellers</a></li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Premium</a></li>
                            <li class="title"><a href="">Wedding & Parties</a></li>
                            <li class="title"><a href="">Office wear</a></li>
                            <li class="title"><a href="">Leather</a></li>
                          </ul>
                          <ul>
                            <li class="title promotion"><a href="">Promotion</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                          <ul>
                            <li class="title"><a href="">Clothing</a></li>
                            <li><a href="">Clothing 1</a></li>
                            <li><a href="">Clothing 2</a></li>
                            <li><a href="">Clothing 3</a></li>
                            <li><a href="">Clothing 4</a></li>
                            <li><a href="">Clothing 5</a></li>
                            <li><a href="">Clothing 6</a></li>
                            <li><a href="">Clothing 7</a></li>
                            <li><a href="">Clothing 8</a></li>
                            <li><a href="">Clothing 9</a></li>
                            <li><a href="">Clothing 10</a></li>
                            <li><a href="">Clothing 11</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                          <ul>
                            <li class="title"><a href="">Accessories</a></li>
                            <li><a href="">Accessories 1</a></li>
                            <li><a href="">Accessories 2</a></li>
                            <li><a href="">Accessories 3</a></li>
                            <li><a href="">Accessories 4</a></li>
                            <li><a href="">Accessories 5</a></li>
                            <li><a href="">Accessories 6</a></li>
                            <li><a href="">Accessories 7</a></li>
                            <li><a href="">Accessories 8</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                          <ul>
                            <li class="title"><a href="">Edits</a></li>
                            <li class="title"><a href="">Wedding & Parties</a><sup class="superindex">New!</sup></li>
                            <li class="title"><a href="">Office wear</a></li>
                            <li class="title"><a href="">Leather</a></li>
                          </ul>
                        </div>

                        <div class="col-md-3 hidden-sm hidden-xs">
                          <img src="images/common/menu/man.jpg" class="img-responsive"/>
                        </div>

                    </div>
                  </div>
                </li>
                <li><a href="">Kids</a>
                  <div class="menu-content">
                    <div class="container">

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">New now</a></li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Essential Prices</a><sup class="superindex">New!</sup></li>
                          </ul>
                          <ul>
                            <li><a href="">Trendy dresses</li>
                            <li><a href="">Tribal spirit</li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Best sellers</a></li>
                          </ul>
                          <ul>
                            <li class="title"><a href="">Premium</a></li>
                            <li class="title"><a href="">Wedding & Parties</a></li>
                            <li class="title"><a href="">Office wear</a></li>
                            <li class="title"><a href="">Leather</a></li>
                          </ul>
                          <ul>
                            <li class="title promotion"><a href="">Promotion</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">Clothing</a></li>
                            <li><a href="">Clothing 1</a></li>
                            <li><a href="">Clothing 2</a></li>
                            <li><a href="">Clothing 3</a></li>
                            <li><a href="">Clothing 4</a></li>
                            <li><a href="">Clothing 5</a></li>
                            <li><a href="">Clothing 6</a></li>
                            <li><a href="">Clothing 7</a></li>
                            <li><a href="">Clothing 8</a></li>
                            <li><a href="">Clothing 9</a></li>
                            <li><a href="">Clothing 10</a></li>
                            <li><a href="">Clothing 11</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">Accessories</a></li>
                            <li><a href="">Accessories 1</a></li>
                            <li><a href="">Accessories 2</a></li>
                            <li><a href="">Accessories 3</a></li>
                            <li><a href="">Accessories 4</a></li>
                            <li><a href="">Accessories 5</a></li>
                            <li><a href="">Accessories 6</a></li>
                            <li><a href="">Accessories 7</a></li>
                            <li><a href="">Accessories 8</a></li>
                          </ul>
                        </div>

                        <div class="col-md-2 col-sm-3">
                          <ul>
                            <li class="title"><a href="">Edits</a></li>
                            <li class="title"><a href="">Wedding & Parties</a><sup class="superindex">New!</sup></li>
                            <li class="title"><a href="">Office wear</a></li>
                            <li class="title"><a href="">Leather</a></li>
                          </ul>
                        </div>

                        <div class="col-md-3 hidden-sm hidden-xs">
                          <img src="images/common/menu/kid.jpg" class="img-responsive"/>
                        </div>

                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tools col-sm-4">
              <ul>
                <li class="search-wrapper"><a href=""><i class="fa fa-search"></i><span class="hidden-sm"> Search</span></a></li>
                <li><a href=""><i class="fa fa-user hidden-lg hidden-md"></i><span class="hidden-sm"> Sign in</span></a>
                  <ul>
                    <li><a href="">Sign in</a></li>
                    <li><a href="">Register</a></li>
                    <li><a href="">Order</a></li>
                    <li><a href="">Help</a></li>
                  </ul>
                </li>
                <li class="search-wrapper"><a href=""><img src="images/common/flag/vn.png" height="15px"/></li>
                <li class="search-wrapper"><a href=""><img src="images/common/flag/en.png" height="15px"/></a></li>
                <li class="search-wrapper"><a href=""><img src="images/common/flag/ja.png" height="15px"/></a></li>
              </ul>
            </div>
          </div>


        </div>

        <div class="nav-main-mobile hide visible-xs">
          <div class="col-xs-3"><i class="fa fa-align-justify" id="menu-toggle"></i></div>
          <div class="logo col-xs-6"><a href="">JUMPSUITS</a></div>
          <div class="cart-info col-xs-3"></div>
        </div>

      </header>

      <div class="main-wrapper">
        <div class="container">

          <div class="side-filter col-sm-2">

            <div class="filter collections">
              <h4 class="title">Collections</h4>
              <ul>
                <li><a href="">All</a></li>
                <li><a href="">New Collection</a></li>
                <li><a href="">Sale</a></li>
              </ul>
            </div>

            <div class="filter categories">
              <h4 class="title">Clothing</h4>
              <ul>
                <li><a href="">Dresses</a></li>
                <li class="active"><a href="">Jumpsuits</a>
                  <ul>
                    <li><a href="">Short</a></li>
                    <li><a href="">Long</a></li>
                    <li><a href="">Day</a></li>
                  </ul>
                </li>
                <li><a href="">Shirts</a></li>
                <li><a href="">T-shirts</a></li>
              </ul>
            </div>

            <div class="filter colours">
              <h4 class="title">Colours</h4>
              <ul>
                <li><a href=""><i class="fa fa-circle-o"></i> Blacks</a></li>
                <li><a href=""><i class="fa fa-dot-circle-o"></i> Whites</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Reds</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Greys</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> Blues</a></li>
              </ul>
            </div>

            <div class="filter size">
              <h4 class="title">Colours</h4>
              <ul>
                <li><a href=""><i class="fa fa-circle-o"></i> XS</a></li>
                <li><a href=""><i class="fa fa-dot-circle-o"></i> S</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> M</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> L</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> XL</a></li>
              </ul>
            </div>

            <div class="filter size">
              <h4 class="title">Price</h4>
              <ul>
                <li><a href=""><i class="fa fa-circle-o"></i> From 1 to 100$</a></li>
                <li><a href=""><i class="fa fa-dot-circle-o"></i> From 100 to 200$</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i> From 200 to 300$</a></li>
              </ul>
            </div>

          </div>

          <div class="list-product col-sm-10">

            <div class="sort">
              <span>Sort by price</span>
              <a href="">Low to High</a> - <a href="">High to Low</a>
            </div>

            <div class="items">

              <div class="item col-sm-4 col-xs-12">
                <a href="details-product.html">
                  <div class="image">
                    <img src="images/products/1/b.jpg" class="back">
                    <img src="images/products/1/f.jpg" class="front">
                  </div>
                  <h5 class="name">Flowy long jumpsuit</h5>
                  <span class="price">đ 2,499,000</span>
                </a>
              </div>

              <div class="item col-sm-4 col-xs-12">
                  <div class="image">
                    <img src="images/products/3/b.jpg" class="back">
                    <img src="images/products/3/f.jpg" class="front">
                  </div>
                  <h5 class="name">Flowy long jumpsuit</h5>
                  <span class="price">đ 2,499,000</span>
              </div>

              <div class="item col-sm-4 col-xs-12">

                <div class="image">
                  <img src="images/products/2/b.jpg" class="back">
                  <img src="images/products/2/f.jpg" class="front">
                </div>
                <h5 class="name">Flowy long jumpsuit</h5>
                <span class="price">đ 2,499,000</span>
              </div>

              <div class="item col-sm-4 col-xs-12">
                <div class="image">
                  <img src="images/products/3/b.jpg" class="back">
                  <img src="images/products/3/f.jpg" class="front">
                </div>
                <h5 class="name">Flowy long jumpsuit</h5>
                <span class="price">đ 2,499,000</span>
              </div>


            </div>
        </div>
      </div>

      <footer>
        <div class="container-fluid">
          <div class="newsletter-wrapper">
            <h5>Be the first to know</h5>
            <form class="form-inline newsletter-form">
              <div class="form-group">
                <input type="email" class="form-control" id="" placeholder="Enter your e-mail">
              </div>
              <button type="submit" class="btn btn-default">Send</button>
            </form>
          </div>
          <div class="nav-footer clearfix hide visible-xs">
            <ul>
              <li><a href="">Help</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Register</a></li>
              <li><a href="">Shops</a></li>
              <li><a href="">Company</a></li>
            </ul>
          </div>
          <div class="nav-social clearfix">
            <ul>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="copyright clearfix">&copy; 2016 Moncheries All rights reserved <a href="">Privacy Policy</a></div>
        </div>
      </footer>

    </div>
  </div>

  <!-- Import the JS & Plugins -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="plugins/bootstrap-3.3.6-dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="plugins/owl-carousel/owl.carousel.js"></script>
  <script src="js/common.js"></script>
  <script src="js/top.js"></script>
</body>
</html>