<!DOCTYPE html>
<html lang="vn">
<head>
<meta charset="UTF-8">
<title>Timeline | Khoa TU</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index,follow">
<meta name="author" content="Từ Đăng Khoa">
<meta name="keyword" content="">
<meta name="description" content="" />
<link href="images/common/favicon.png" rel="icon" type="image/png">
<link href="css/import.css" rel="stylesheet" type="text/css" />
<link href="css/import_top.css" rel="stylesheet" type="text/css" />
</head>
<body id="top">

  <header id="header" class="inner">
    <h1 class="title"><a href="">khoatu</a></h1>
    <span class="tagline">My timeline</span>
  </header>

  <div class="main-wrapper">

    <div id='timeline-embed'></div>

  </div>

  <footer>

    Thanks for viewing!

  </footer>

  <!-- Import the JS & Plugins -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="plugins/bootstrap-3.3.6-dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
  <script src="js/common.js"></script>
  <script src="js/top.js"></script>

</body>
</html>