/**
 * HEADER
*/
.nav-main {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid black;
  z-index: 99;
}
.nav-main .logo {
  padding: 16px 0;
}
.nav-main .logo img {
  height: 28px;
}
/* MOBILE */
.nav-main-mobile {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid black;
  z-index: 99;
}
.nav-main-mobile .logo {
  text-align: center;
  padding: 10px 0;
}
.nav-main-mobile .logo img {
  height: 20px;
}
#menu-toggle {
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
}

/**
 * MAIN CONTENT
 */
.main-wrapper {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .main-wrapper {
    margin-top: 40px;
  }
}

/**
 * FOOTER
 */
footer {
  margin-top: 5%;
  border-top: 2px solid black;
  padding-top: 45px;
  text-align: center;
 }
.newsletter-wrapper h5{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.newsletter-form input[type="email"] {
  border: none;
  box-shadow: none;
  width: 300px;
  font-size: 14px;
}
.newsletter-form .form-group{
  border-bottom: 1px solid black;
}
.copyright {
  margin-top: 20px;
  color: grey;
  font-size: 11px;
}
.copyright a {
  margin-left: 10px;
  color: grey;
}

/**
 * NAVIGATION
 */
/* MAIN - level 1 */
.nav-main .menu {
  transition: none;
  padding: 0;
  height: 60px;
  text-align: center;
}
.nav-main .menu>ul {
  display: inline-block;
  height: 100%;
  width: auto;
  padding: 0;
  cursor: default;
}
.nav-main .menu>ul>li {
  list-style: none;
  float: left;
  height: 100%;
  padding: 20px 20px 0;
}
.nav-main .menu>ul>li>a {
  padding: 0;
  padding-top: 22px;
  letter-spacing: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
}
/* MAIN - level 2 */
.nav-main .menu-content {
  display: none;
  position: fixed;
  top:58px;
  right: 0;
  left: 0;
  background: RGBA(255,255,255,0.95);
  padding: 50px 0;
  text-align: left;
  border-bottom: 2px solid black;
  -webkit-transition: opacity .25s ease,visibility .25s ease;
  transition: opacity .25s ease,visibility .25s ease;
}
.nav-main .menu>ul>li:hover .menu-content {
  display: block;
}
.nav-main .menu-content ul {
  margin-bottom: 10px;
  padding: 0;
}
.nav-main .menu-content ul li {
  list-style: none;
  padding: 2px 0;
}
.nav-main .menu-content ul li.title a {
  font-weight: bold;
}
.nav-main .menu-content ul li.promotion a {
  color: red;
}
/* MAIN - TOOLS */
.nav-main .tools {
  text-align: right;
}
.nav-main .tools a {
  text-decoration: none;
}
.nav-main .tools>ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 100%;
}
.nav-main .tools>ul>li {
  list-style: none;
  display: inline-block;
  height: 100%;
  padding: 20px 0px 0;
  position: relative;
}
.nav-main .tools>ul>li:after {
    content: "";
    position: relative;
    top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 15px;
    width: 1px;
    border-left: 1px solid #d7d7d8;
}
.nav-main .tools>ul>li:last-child:after {
  display: none;
}
.nav-main .tools>ul>li>ul{
  display: none;
  position: absolute;
  background: RGBA(255,255,255,1);
  right: 10px;
  padding: 10px 5px;
  width: 100px;
}
.nav-main .tools>ul>li>ul>li{
  list-style: none;
  text-align: right;
  padding: 5px;
}
.nav-main .tools>ul>li:hover>ul {
  display: block;
}
/* NAV-FOOTER */
.nav-footer ul,
.nav-social ul{
  margin: 30px 0;
  padding: 0;
}
.nav-footer ul li,
.nav-social ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
}
.nav-footer ul li a,
.nav-social ul li a {
  font-weight: bold;
}
