/**
 * HEADER
*/
header {
  background: RGB(253,253,253);
  -webkit-box-shadow: 0 8px 6px -6px lightgrey;
  -moz-box-shadow: 0 8px 6px -6px lightgrey;
  box-shadow: 0 8px 6px -6px lightgrey;
  border-top: 2px solid RGB(204,0,0);
}
header .navbar-brand,
header #navbar {
  height: 40px;
}
header .navbar {
  min-height: auto;
  margin-bottom:0;
  text-align: center;
  z-index: 0;
}
header .navbar-default {
  background: RGB(8,84,31);
  border:none !important;
}
#navbar ul {
  float: none;
  display: inline-block;
}
header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover,
header .navbar-default .navbar-nav>li>a:focus,
header .navbar-default .navbar-nav>li>a:hover {
  background:none;
  color: white;
  padding: 10px;
}
header .info {
  padding: 25px 15px;
}
form.search {
  position: relative;
}
form.search .search-input {
  text-indent: 10px;
  padding-right: 30px;
}
form.search .input-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
}
.logo {
  text-align: center;
}
.logo .title {
  float: left;
  width: 80%;
}
.logo .title h1 {
  font-size: 18px;
  line-height: 10px;
  margin: 5px 0 0 0;
  transform: translate(0%, 50%);
  color: RGB(204,0,0);
  font-weight: bold;
  word-spacing: 7px;
}
.logo .title h1 span{
  font-size: 10px;
  line-height: 10px;
  color: RGB(8,84,31);
  word-spacing: 1px;
}
.logo .image {
  float: left;
  width: 20%;
}
.logo .image img {
  height: 50px;
  line-height: 50px;
  float: right;
}
.hotline span{
  display: block;
  font-weight: bold;
}
.hotline .callcenter{
  color: red;
  font-size: 20px;
}
.hotline .callcenter .title{
  color:green;
  font-size: 14px;
}
.hotline .branch {
  color: black;
}
.hotline .branch .title{
  color:red;
}


/**
 * MAIN CONTENT
 */
.main-wrapper {
  margin:0 auto;
}
.main-content-wrapper {
  padding-top: 20px;
}
.sidebar-first h5 {
  color: green;
  font-weight: bold;
}
.sidebar-menu-wrapper {
  position: relative;
}
.sidebar-menu {
  position: absolute;
  z-index: 999;
  width: calc(100% - 30px);
  background: RGB(203,0,0);
  padding : 15px;
  top: -20px;
}
.sidebar-menu ul {
  margin: 0;
  padding:0;
}
.sidebar-menu ul li {
  list-style: none;
  padding : 15px 20px;
  border-bottom: 1px solid pink;
}
.sidebar-menu ul li>a {
  color: white;
}
.sidebar-menu ul li:hover {
  cursor:pointer;
  background:green;
}
.sidebar-menu ul li.search-wrapper {
  padding:0;
}
.sidebar-menu ul li.search-wrapper:hover {
  background: none;
}
.sidebar-menu ul li.search-wrapper input {
  font-size:12px;
}
.member-login form {
  border: 1px solid lightgrey;
  padding: 20px;
  text-align:center;
  background: black;
}
.member-login form,
.member-login form h5,
.member-login form a {
  color: white;
}
.member-login form button {
  background: red;
}
.member-info {
  margin-top: 20px;
  border: 1px solid lightgrey;
  padding: 20px;
  text-align:center;
}
.member-info img {
  max-width: 100%;
}
.news,
.annoucements {
  margin-bottom: 40px;
}

/**
 * FOOTER
 */
#partners-slider .item{
  margin: 3px;
}
#partners-slider .item img{
  display: block;
  width: auto;
  height: auto;
}
footer .contact {
  background: RGB(253,253,253);
  padding:20px 0;
  margin-top:40px;
  -webkit-box-shadow: 0 8px 6px 8px lightgrey;
  -moz-box-shadow: 0 8px 6px 8px lightgrey;
  box-shadow: 0 8px 6px 8px lightgrey;
}
footer .contact h4 { color: RGB(203,0,0) }
footer .contact i,
footer .contact strong { color: green }
