.main-slider-wrapper {
  
}
#main-slider .owl-item img{
  display: block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.top-services .tab-content {
  border: 1px solid lightgrey;
  border-top:none;
  padding: 20px 0;
}
.top-services .service {
  text-align: center;
}
.top-services .service img {
  max-width: 100%;
}
.top-services .service h5 {
  background: RGB(203,0,0);
  color: white;
  margin:0;
  padding:10px;
}
.top-services .service-info {
  margin-top:20px;
}
.top-services .service-info h5 {
  font-weight:bold;
}

.top-news {
  margin-top:20px;
}
.top-news h5 {
  font-weight:bold;
}
.top-news .item{
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}