.main-slider-wrapper {

}
#main-slider {
  height: 300px;
}
@media screen and (max-width: 991px) {
  #main-slider {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  #main-slider {
    height: 375px;
  }
}
#main-slider .owl-item>a>div{
  width: 100%;
  height: 300px;
  background-size: cover !important;
  background-position: center center !important;
}
#main-slider .owl-controls {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0;
}
#main-slider .owl-pagination .owl-page span{
  background: green;
}
#main-slider .owl-pagination .owl-page.active span{
  background: red;
}

.top-services .tab-content {
  border: 1px solid lightgrey;
  border-top:none;
  padding: 20px 0;
}
.top-services .service {
  text-align: center;
}
.top-services .service img {
  max-width: 100%;
}
.top-services .service h5 {
  background: RGB(203,0,0);
  color: white;
  margin:0;
  padding:10px;
}
.top-services .service-info {
  margin-top:20px;
}
.top-services .service-info h5 {
  font-weight:bold;
}

.top-news {
  margin-top:20px;
}
.top-news h5 {
  font-weight:bold;
}
.top-news .item{
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}